Flask==2.0.2
opentelemetry-exporter-otlp==1.17.0
opentelemetry-exporter-otlp-proto-http==1.17.0
opentelemetry-instrumentation-flask==0.38b0
opentelemetry-instrumentation-logging==0.38b0
opentelemetry-instrumentation-wsgi==0.38b0
opentelemetry-api==1.17.0
opentelemetry-distro==0.38b0
opentelemetry-instrumentation==0.38b0
opentelemetry-sdk==1.17.0
opentelemetry-semantic-conventions==0.38b0
prometheus-client==0.16.0
Werkzeug==2.2.2
